app = "alfred-ai"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  ALFREDAI_CONFIG = "/app/config.yaml"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
